body{
    background-color: #141538;
}
pre{
    font-family: "turnip", serif;
    font-weight: 200;
    font-style: normal;   
    font-size: 15px;
    color: #3c3e6b;
}
h1, h2{
    font-family: "ltr-beowolf-r22", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 20%;
    color: #c2c1b0;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
h1:hover{
    animation: disappearingtext 2s ease-in-out infinite;
    cursor: default;
}
h2:hover{
    animation: disappearingtext 2s ease-in-out infinite;
    cursor: default;
}

#treeleftone, #treerightone{
    height: 1000px;
    position: absolute;
    animation: treegrowth 10s ease-in-out infinite;
}
#treerightone{
    right: 0;
}
#treeleftone{
    left: 0;
}
.poemcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.poem{
    text-align: center;
    width: 40%;
    color: #c2c1b0;
    font-family: "turnip", serif;
    font-weight: 200;
    font-style: normal;    
    font-size: 20px;
}

.videocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    margin-top: 10%;
}

.writingcontainerone, .writingcontainertwo, .writingcontainerthree, .writingfour, .writingcontainerfive{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    color: #c2c1b0;
    font-family: "turnip", serif;
    font-weight: 200;
    font-style: normal;    
    font-size: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;
}

.writingcontainertwo{
    text-align: right;
    float: right;
    width: 30%;
}

.writingcontainerthree{
    text-align: left;
    margin-left: 30%;
    margin-top: 40%;
    width: 40%;
}

.writingfour{
    text-align: left;
    margin-left: 60%;
    margin-right: 5%;
    margin-top: 3%;
    width: 30%;
}

.writingcontainerfive{
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 60%;
}


@keyframes treegrowth{
    0% { 
        height: 1000px;

    }
    50%{
        height: 1500px;
    }
    100% { 
        height: 1000px;
    }
    }

@keyframes disappearingtext{
    0%{
        color: rgba(255, 255, 255, 1);
    }

    50%{
        color: rgba(255, 255, 255, 0.25);
    }

    100%{
        color: rgba(255, 255, 255, 1);
    }
}

@media (max-width:850px) {
    h1{
        line-height: 90%;
    }
    h2{
        margin-top: -3%;
    }
    .writingcontainerone, .writingcontainertwo, .writingcontainerthree, .writingfour, .writingcontainerfive{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .videocontainer{
        justify-content: center;
    }
   
}