body{
    background-color: #f0ece9;
}

pre{
    font-family: "roca", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    color: #fc2c03; 
    font-size: 15px;
}

.firstcontainer {
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    margin-bottom: 8%;
}

.secondcontainer, .thirdcontainer{
    margin-bottom: 8%;
}

.lefttext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    font-family: "roca", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    color: #d12c0a; 
    font-size: 25px;
}
p{
    margin-top: 20%;
}
h1 {
    font-size: 80px;
    color: #fc2c03;
}

h2 {
    font-size: 50px;
    color: #fc2c03;
}

h2:hover{
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.rightpanel {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    width: 70%;
    height: auto;
    margin-bottom: 5%;
    max-width: 600px; 
    max-height: 600px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.image1:hover, .image2:hover, .image3:hover, .image3:hover, .image4:hover, .image5:hover, .image6:hover, .film13:hover, .film14:hover, .film15:hover, .film16:hover,
.film17:hover, .film18:hover, .film19:hover, .film20:hover, .film27:hover, .film28:hover, .film29:hover, .film30:hover, .film21:hover, .film22:hover, .film23:hover, .film24:hover, 
.film25:hover, .film26:hover {
    transform: scale(1.1);
}

.film1:hover, .film2:hover, .film3:hover, .film4:hover, .film5:hover, .film6:hover, .film7:hover, .film8:hover,
.film9:hover, .film10:hover, .film11:hover, .film12:hover{
    transform: scale(1.5);
}


.gallery, .gallery21, .gallery22 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
     
}
.gallery21{
    margin-bottom: 3%;
}


.film1, .film2 {
    width: 15%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.film3, .film4{
    width: 25%;
    height: 15%;
    transition: transform 0.3s ease-in-out;
}

.pointandshoot, .words, .morewordsagainagain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: "roca", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #d12c0a; 
    font-size: 25px;
    padding: 2%;
}

.film5, .film6, .film7, .film8, .film9, .film10, .film11, .film12{
    width: 20%;
    height: 10%;
    transition: transform 0.3s ease-in-out;

}
.fourthcontainer, .fifthcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
}
.morewords, .morewordsagain {
    float: left;
    align-items: left;
    width: 20%;
    font-family: "roca", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    color: #d12c0a; 
    font-size: 25px;
}
.improvementimages, .gallery3 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px; /* Adjust as needed for top margin */
}

.film13, .film14, .film15, .film16, .film17, .film18, .film19, .film20, .film21, .film22, .film23, .film24, .film25, .film26 {
    width: 48%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 2%;
    transition: transform 0.3s ease-in-out;
}

.goodones, .dudsshow { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }

  .film27, .film28, .film29, .film30 {
    width: 20%;
    transition: transform 0.3s ease-in-out;
  }

  .goodoneshide, .duds {
    display: none;
  }

  .dudsshow {
    display: flex;
    justify-content: space-around;
  }

  .morewordsagainagain{
    margin-top: 5%;
  }

.bottomnavigation{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    width: 80%;
    font-family: "roca", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #fc2c03; 

}

.link:hover{
    color: #911e07; 
    font-size: 25px;
    transition: 0.5s ease;
}

@media (max-width:850px) {
    .firstcontainer, .fourthcontainer, .fifthcontainer{
        flex-direction: column;
    }
    .lefttext{
        font-size: 20px;
        width: 90%;
        text-align: left;
        margin-left: 2%;
    }
    .morewords, .morewordsagain{
        width: 90%;
        text-align: right;
    }
    .rightpanel{
        width: 95%;
        text-align: center
    }
    .pointandshoot, .words, .morewords, .morewordsagain, .morewordsagainagain {
        font-size: 20px;
    }
}
