body{
    background-color: #FAF9F6;
}
pre{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #b39283
}


h1{
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 100;
    text-align: center;
    font-size: 100px;
    line-height: 40%;
    color: #000080
}

h2{
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 100;
    text-align: center;
    font-size: 80px; 
    line-height: 40%;
    color: #000080
}


h2:hover{
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-style: italic;
    text-align: center;
    font-size: 80px; 
    line-height: 40%;
    
}

p{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: 	#000080
}

.audio {  
    position: sticky;
    top: 10px;
    right: 40px;
    z-index: 999;
}
/*looked online to get this element to be at the front of the page since it kept getting stuck behind 
my text/images. */

.audio:hover .audioexplain{
        display: block;
    }

.audioexplain {
    display: none;
    padding: 10px;
    text-align: left;
    font-family:"gyst-variable", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    width: 110%;
    margin-left: 5%;
    color: #000080
}
/* used ChatGPT here to help me figure out what I was doing wrong with this govering thing!*/

.image-container:hover .text-container {
    display: block;
}


.videocontainer{
    text-align: center;
}
video {
    width: 75%;
    height: auto;


}

.quotation{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #b39283;
    display: inline;
    margin: 0;
    white-space: nowrap;
}  

.quotation:hover{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #916a59;

}

.paragraphone, .paragraphtwo, .paragraphthree, .paragraphfour, .paragraphfive{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #b39283
}
.paragraphone{
    display:flex;
    text-wrap: wrap;
    width:90%;
    margin-left: 5%;
    margin-top: 2%;
}


.containerone, .containertwo, .containerthree{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5%;

}

.paragraphtwo, .paragraphfour{
    flex: 0 0 50%;
    text-align: left;
    width: 40%;
    margin-right: 5%;
}

.lily4, .wall{
    float:center;
    width: 80%;
    height: auto;
    margin-left: 5%;
}
  

.paragraphthree{
    flex: 0 0 50%;
    text-align: right;
    width: 40%;
    margin-right: 5%;
    margin-top: 2%;
    text-align: right;
    float: right;
}

.amp{
    float: right;   
    width: 90%;
    height: auto;
    margin-right:5%;

}

.paragraphfive, .bottomnavigation{
    margin-top: 5%;
}


.bottomnavigation{
    width: 100%; 
    height: auto;
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 600;
    text-align: center;
    font-size: 15px; 
    line-height: 40%;
    color: 	#000080;
    
}

.lastweek{
    float: left;
}

.nextweek{
    float:right;

}

@media (max-width:850px) {
    h1{
        line-height: 90%;
    }
    h2{
        font-size: 60px; 
    }
    h2:hover{
        font-size:60px;
    }
    .audioexplain{
        width:80%;
    }
    p{
        font-weight: 400;
    }
    }