body{
    background-color: #FAF9F6;
}
pre{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #b39283
}


h1{
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 100;
    text-align: center;
    font-size: 100px;
    line-height: 40%;
    color: #000080
}

h2{
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 100;
    text-align: center;
    font-size: 80px; 
    line-height: 40%;
    color: #000080
}


h2:hover{
    font-family: "gyst-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-style: italic;
    text-align: center;
    font-size: 80px; 
    line-height: 40%;
    
}

p{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: 	#000080
}

.audio {  
    position: sticky;
    top: 10px;
    right: 40px;
}

.audio:hover .audioexplain{
        display: block;
    }

.audioexplain {
    display: none;
    padding: 10px;
    text-align: left;
    font-family:"gyst-variable", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    width: 110%;
    margin-left: 5%;
    color: #000080
}
/* used ChatGPT here to help me figure out what I was doing wrong with this govering thing!*/

.image-container:hover .text-container {
    display: block;
}


.videocontainer{
    text-align: center;
}
video {
    width: 75%;
    height: auto;


}

.quotation{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #b39283;
    display: inline;
    margin: 0;
    white-space: nowrap;
}  

.quotation:hover{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #916a59;

}


.paragraphone{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    color: #b39283
}

.containerone{
    width: 100%;
}
.paragraphtwo{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    color: #b39283;
    text-align: left;
}


.lily4{
    width: 45%;
    height: auto;

}


.lily4:hover{
    background: url("images/lily2.jpg")
}
  
.imageone{
    text-align: right;
    margin-right: 5%;
    position: relative;
    bottom: 650px;
}

.paragraphthree{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 40%;
    margin-right: 5%;
    margin-top: 2%;
    color: #b39283;
    text-align: right;
    float: right;
    position: relative;
    bottom: 650px;
}

.amp{
    width: 45%;
    height: auto;
    text-align: left;
    margin-left: 5%;
    position: relative;
    bottom: 525px;

}

.paragraphfour{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    color: #b39283;
    text-align: left;
    float: left;
    position: relative;
    bottom: 500px;
}


.paragraphfive{
    font-family:"roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    color: #b39283;
    text-align: left;
    float: left;
    position: relative;
    bottom: 1000px;
}

.imagethree{
    text-align: right;
    float: right;
}

.wall{ 
    width: 45%;
    height: auto;
    text-align: right;
    margin-right: 5%;
    position: relative;
    bottom: 725px;

}

