.intro, .time-date-container, .longtimebutton, .recentlybutton, .goodbutton, .badbutton{
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333;
}
.time-date-container-mouse{
    color: #e5e8d1;
}
.intro{
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.time-date-container{
    font-size: 70px;
}

.buttoncontainer, .buttoncontainertwo{
    display: flex;
    justify-content: space-around;
}
.longtimebutton, .recentlybutton, .goodbutton, .badbutton{
    width: 30%;
    padding: 20px 50px;
    border-radius: 30px;
    background-color: #e5e8d1;
    color: #333;
    font-size: 20px;
    text-align:  center;
    text-align:  center;
    transition:  all 100ms;
  }
.longtimebutton:hover {
    background-color: #adb097;
    color: #e5e8d1;
    cursor:  pointer;
  }

.recentlybutton:hover {
    background-color: #adb097;
    color: #e5e8d1;
    cursor:  pointer;
  }

.longtimewords, .recentlywords{
    display: none;
}
.longtimeshow, .recentlyshow{
    display: block;
}

.longtimewords, .recentlywords, .secondquestion, .badwords, .goodwords{
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    color: #333;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.secondquestion{
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
}

.buttoncontainertwo{
    margin-top: 5%;
}


.badbutton:hover {
    background-color: #adb097;
    color: #e5e8d1;
    cursor:  pointer;
  }

.goodbutton:hover {
    background-color: #adb097;
    color: #e5e8d1;
    cursor:  pointer;
  }


.badwords, .goodwords{
    display: none;
}

.badwordsshow, .goodwordsshow{
    display: block;
}

.navigation{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333;
    font-size: 20px;

}

.link{
  color: #bec2a3;
}

.link:hover{
    color: #9fab55;
    font-size: 25px;
    transition: 0.5s ease;
}

@media (max-width:850px) {
    .intro, .secondquestion{
        font-size: 30px;
    }
    .longtimebutton, .recentlybutton, .goodbutton, .badbutton{
        width: 20%;
        padding: 10px 40px;
        border-radius: 25px;
    }
}
