body{
    background-color: #ebe7dd
}

.intro, .outro{
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333;
    padding: 5%;
    font-size: 20px;
    line-height: 30px;
}

.outro{
    color: #1b6f1b;;
}
.header{
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: 'BUBL' 100;
    transition: font-variation-settings 0.3s ease; 
    color:#c0d656;
    font-size: 80px;
    margin-bottom: 5%;
}

.header:hover{
    font-variation-settings: 'BUBL' 400; 

}
.nextbox{
    display: flex;
    justify-content: center;
}
.changeone {
    background-color: #e2ff59;
    font-family: courier;
}
.changefinal {
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #333;
    padding: 5%;
    width: 60%;
    background: linear-gradient(266deg, #e2ff59, #3974e3);
    background-size: 400% 400%;
    -webkit-animation: gradientAnimation 13s ease infinite;
    -moz-animation: gradientAnimation 13s ease infinite;
    animation: gradientAnimation 13s ease infinite;
    animation: gradientAnimation 4s linear infinite;
}


@-webkit-keyframes gradientAnimation {
    0% { background-position: 0% 68%; }
    50% { background-position: 100% 33%; }
    100% { background-position: 0% 68%; }
}

@-moz-keyframes gradientAnimation {
    0% { background-position: 0% 68%; }
    50% { background-position: 100% 33%; }
    100% { background-position: 0% 68%; }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 68%; }
    50% { background-position: 100% 33%; }
    100% { background-position: 0% 68%; }
}


.caption, .captiontwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firsttext, .secondtext, .thirdtext{
    width: 60%;
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #333;
    padding: 5%;
}


.firsttexthide, .secondtexthide, .thirdtexthide{
    display: none;
}

.button, .buttontwo {
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #333;
    width: 14%;
    padding: 20px 50px;
    border-radius: 30px;
    background-color: #e2ff59;
    opacity: 0.75;
    color: #333;
    font-size: 60px;
    font-size: 20px;
    text-align: center;
    transition: all 300ms;
    margin-right: 10px;
}

.button:hover, .buttontwo:hover{
    opacity: 1;
    color: #1b6f1b;
    cursor: pointer;
}

.top{
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    color: #1b6f1b;
    padding: 5%;
    font-size: 30px;
    line-height: 40px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.rulebuttonone, .rulebuttontwo, .rulebuttonthree, .rulebuttonfour, .rulebuttonfive, .rulebuttonsix, .rulebuttonseven, .rulebuttoneight, .rulebuttonnine, .rulebuttonten{
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: 'BUBL' 100;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e2ff59;
    color:  #1b6f1b;;
    text-align: center;
    line-height: 100px;
    opacity: 0.75;
    cursor: pointer;
    margin-bottom: 5%;
}

.rulebuttonone:hover, .rulebuttontwo:hover, .rulebuttonthree:hover, .rulebuttonfour:hover,  .rulebuttonfive:hover, .rulebuttonsix:hover,  .rulebuttonseven:hover, .rulebuttoneight:hover, .rulebuttonnine:hover, .rulebuttonten:hover{
    opacity: 1;
}

.ruleonehide, .ruletwohide, .rulethreehide, .rulefourhide, .rulefivehide, .rulesixhide, .rulesevenhide, .ruleeighthide, .ruleninehide, .ruletenhide {
    display: none;
}

.ruleone, .ruletwo, .rulethree, .rulefour, .rulefive, .rulesix, .ruleseven, .ruleeight, .rulenine, .ruleten{
    display:flex;
    width: 60%;
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    color: #1b6f1b;
    padding: 5%;
    font-size: 30px;
    line-height: 40px;
}

.bottomnavigation {
    display: flex;
    justify-content: space-between; 
    width: 80%;
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: 'BUBL' 100;
    color: #1b6f1b;
    font-size: 30px;
    margin-bottom: 5%;
    margin-left: 10%;
}



.link:hover, .link2:hover {
    color: #e2ff59;
    font-size: 40px;
    font-variation-settings: 'BUBL' 400;
    transition: font-variation-settings 1s ease;
    transition: 1s ease;
}

@media (max-width:850px) {
    .ruleone, .ruletwo, .rulethree, .rulefour, .rulefive, .rulesix, .ruleseven, .ruleeight, .rulenine, .ruleten { 
        font-size: 20px;
    }
    .rulebuttonone, .rulebuttontwo, .rulebuttonthree, .rulebuttonfour, .rulebuttonfive, .rulebuttonsix, .rulebuttonseven, .rulebuttoneight, .rulebuttonnine, .rulebuttonten{
        font-family: "bd-caramel-variable", sans-serif;
        font-variation-settings: 'BUBL' 100;
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e2ff59;
        color:  #1b6f1b;;
        text-align: center;
        line-height: 50px;
        opacity: 0.75;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .button, .buttontwo {
        width: 10%;
        border-radius: 20px;
        font-size: 15px;
    }
    .changeagain, .caption{
        margin-top: 10%;
    }
    .header{
        margin-top: -15%;
        line-height: 70px;
    }
}