body{
	background-color:rgb(198, 181, 167);
}

.header{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.elleimage{ 
	width: 40%;
	height: auto;

}
.sectiontwo{ 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: auto;
}
.imagecontainerone{
	width: 30%;
	height:auto;
	margin-left: 5%;
}
.carvingone{
	width: 400px;
	height: auto;
	float: left;
	margin-right: 2%;
}
.paragraphtwo{
	width: 50%;
	justify-content: right;
	display: flex;
	flex-wrap: wrap;
	font-family: panel-sans, sans-serif;
	font-weight: 300;
	color:white;
	line-height: 20px;
	margin-right: 10%;
	margin-left: 5%;
}
h1, h2{
	font-family: "vendetta", serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	line-height: 10px;
	color: white;
}

h1{
	font-size:120px;
}
h2{
	font-size: 100px;
}
.sectionone, .sectionthree{
	display: flex;
	flex-wrap: wrap;
	font-family: panel-sans, sans-serif;
	font-weight: 300;
	color:white;
	line-height: 20px;
	margin-right: 10%;
	margin-left: 5%;
	
}

h5, h6{ 
	font-family: panel-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h6{ 
	font-size: 15px;
	text-align: right;
	

}

h5{
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

h5:hover{
	color: #d7e3fc;
	font-style: italic;
}

	

pre{
	color:#d7e3fc;
	font-family: panel-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;

}


h7{ 
	font-family: "vendetta", serif;
	font-weight: 600;
	font-style: normal;
	margin-left: 60px;
	font-size: 20px;
	color:#d7e3fc;

	}

.bottomnavigation{
	font-family: panel-sans, sans-serif;
	font-weight: 600;
	color:white;
	margin-right: 2%;
	margin-bottom: 5%;
	text-align: center;
}
.nextweek{
	float: right;
}
.home{

}




@media (max-width:850px) {
    .elleimage {
        width: 100%;}
	h1{
		line-height: 90px; 
	}
	h5{
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
	}
	.sectiontwo{
		flex-direction: column;
		width: 100%;
		height: auto;
	}
	.paragraphtwo{
		display: flex;
		flex-wrap: wrap;
		width: 100%;

	}
	.imagecontainerone{
		width: 100%;
		height: auto;
		justify-content: center;
	}
    }